<%# <%= image_tag 'logo-dark.png', :class => 'logo' %>

<div class="section one">
    <div class="heading">
        <h1>We ideate</h1>
        <%= image_tag 'idea2.png', :class => 'heading-logo' %>
    </div>
    <div class="content">
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
    </div>
</div>
<div class="section two">
    <div class="heading">
        <h1>We design</h1>
        <%= image_tag 'design.png', :class => 'heading-logo' %>
    </div>
    <div class="content">
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
    </div>
</div>