<%# <%= image_tag 'logo-dark.png', :class => 'logo' %>

<div class="section">
    <div class="heading">
        <h1>We think</h1>
        <%= image_tag 'idea2.png', :class => 'heading-logo' %>
    </div>
    <div class="content">
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
    </div>
</div>